@model List<YummyProject.Models.Service>

@foreach (var item in Model)
{
    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
            <i class="@item.Icon"></i>
            <h4>@item.Title</h4>
            <p>@item.Description</p>
        </div>
    </div><!-- End Icon Box -->
}